/*! referentie-site v.0.0.1 by Tom - 2014-06-15 22:30 */

html {
  height: 100%; }

body {
  background-color: #669966;
  font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
  height: 100%;
  line-height: 1.5;
  min-height: 100%; }

body, section, h1, h2, ul, p {
  margin: 0;
  padding: 0; }

h1 {
  color: #fff;
  font-size: 30px;
  padding: 30px;
  text-align: center;
  text-shadow: 5px 5px 4px #000; }

section {
  min-height: 10%; }

.header {
  background-color: #c90; }

.content {
  background-color: #c7dac7;
  padding: 20px; }
  .content h2 {
    cursor: pointer; }

.footer {
  background-color: #669966;
  color: #fff;
  padding: 20px;
  position: relative; }
  .footer p {
    position: absolute;
    bottom: 20px; }
